NUXT_PUBLIC_URL=http://localhost:3000
NUXT_PUBLIC_API_BASE_URL=http://localhost:8055
NUXT_PUBLIC_COGNITO_DOMAIN=<cognito_domain>
NUXT_PUBLIC_COGNITO_CLIENT_ID=<cognito_client_id>
NUXT_PUBLIC_COGNITO_SCOPE=<scope>
